<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>CTS NMT Systems</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer/" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.css') }}" />
        <style>
            html {
              position: relative;
              min-height: 100%;
            }
            
            body {
              margin-bottom: 60px;
              /* Margin bottom by footer height */
            }
    
            .footer {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 60px;
              /* Set the fixed height of the footer here */
              line-height: 60px;
              /* Vertically center the text there */
              background-color: #f5f5f5;
              /* Not required */
            }
            body {
                font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
                font-size: 14px;
                line-height: 1.4285em;
                color: rgba(0,0,0,.87);
            }
            </style>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='semantic.js') }}"></script>
        <script>
            $(function(){
				$("#sourcel div").click(function(){
					$("#sourcelang").val($(this).attr("data-id"));
				});
			});
            $(function(){
				$("#targetl div").click(function(){
					$("#targetlang").val($(this).attr("data-id"));
				});
			});
			$(function(){
				$("#domain div").click(function(){
					$("#domainval").val($(this).attr("data-id"));
				});
			});
            $(document).ready(function(){
                $('.ui.dropdown')
                .dropdown();
            });
        </script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/"><font size="+1"><img src="{{ url_for('static', filename='favicon.png') }}" height="45px"/>&nbsp;&nbsp;&nbsp;&nbsp;Centre for Translation Studies :: Neural Machine Translation Web Application</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <br /><br /><br /><br />
        <div class="container">
            <form method="POST" action="">
				<input type="hidden" id="sourcelang" name="sourcelang" value="{{ source_lang }}"></input>
				<input type="hidden" id="targetlang" name="targetlang" value="{{ target_lang }}"></input>
                <input type="hidden" id="domainval" name="domainval"></input>
				A sample sentence: The digital age, also referred to as the information society, is characterized by ever growing volumes of information.<br /><br/>
                <br /><br />
                <div class="form-group">
                    <div class="container ui stackable equal width grid">
                        <div class="ui fluid search dropdown button column">
                            <i class="cloud icon"></i>
                            <span class="text">Model</span>
                            <div class="menu">
                                <div class="item disabled">Facebook M2M</div>
                            </div>
                        </div>
                        <div class="ui fluid search dropdown button column">
                            <i class="world icon"></i>
                            <span class="text">Source Language</span>
                            <div class="menu" id="sourcel">
                                <div class="item" data-id="af">Afrikaans</div>
                                <div class="item" data-id="am">Amharic</div>
                                <div class="item" data-id="ar">Arabic</div>
                                <div class="item" data-id="ast">Asturian</div>
                                <div class="item" data-id="az">Azerbaijani</div>
                                <div class="item" data-id="ba">Bashkir</div>
                                <div class="item" data-id="be">Belarusian</div>
                                <div class="item" data-id="bg">Bulgarian</div>
                                <div class="item" data-id="bn">Bengali</div>
                                <div class="item" data-id="br">Breton</div>
                                <div class="item" data-id="bs">Bosnian</div>
                                <div class="item" data-id="ca">Valencian</div>
                                <div class="item" data-id="ceb">Cebuano</div>
                                <div class="item" data-id="cs">Czech</div>
                                <div class="item" data-id="cy">Welsh</div>
                                <div class="item" data-id="da">Danish</div>
                                <div class="item" data-id="de">German</div>
                                <div class="item" data-id="el">Greeek</div>
                                <div class="item" data-id="en">English</div>
                                <div class="item" data-id="es">Spanish</div>
                                <div class="item" data-id="et">Estonian</div>
                                <div class="item" data-id="fa">Persian</div>
                                <div class="item" data-id="ff">Fulah</div>
                                <div class="item" data-id="fi">Finnish</div>
                                <div class="item" data-id="fr">French</div>
                                <div class="item" data-id="ga">Irish</div>
                                <div class="item" data-id="gd">Scottish Gaelic</div>
                                <div class="item" data-id="gl">Galician</div>
                                <div class="item" data-id="gu">Gujarati</div>
                                <div class="item" data-id="ha">Hausa</div>
                                <div class="item" data-id="he">Hebrew</div>
                                <div class="item" data-id="hi">Hindi</div>
                                <div class="item" data-id="hr">Croatian</div>
                                <div class="item" data-id="ht">Haitian Creole</div>
                                <div class="item" data-id="hu">Hungarian</div>
                                <div class="item" data-id="hy">Armenian</div>
                                <div class="item" data-id="id">Indonesian</div>
                                <div class="item" data-id="ig">Igbo</div>
                                <div class="item" data-id="ilo">Iloko</div>
                                <div class="item" data-id="is">Icelandic</div>
                                <div class="item" data-id="it">Italian</div>
                                <div class="item" data-id="ja">Japanese</div>
                                <div class="item" data-id="jv">Javanese</div>
                                <div class="item" data-id="ka">Georgian</div>
                                <div class="item" data-id="kk">Kazakh</div>
                                <div class="item" data-id="km">Central Khmer</div>
                                <div class="item" data-id="kn">Kannada</div>
                                <div class="item" data-id="ko">Korean</div>
                                <div class="item" data-id="lb">Letzeburgesch</div>
                                <div class="item" data-id="lg">Ganda</div>
                                <div class="item" data-id="ln">Lingala</div>
                                <div class="item" data-id="lo">Lao</div>
                                <div class="item" data-id="lt">Lithuanian</div>
                                <div class="item" data-id="lv">Latvian</div>
                                <div class="item" data-id="mg">Malagasy</div>
                                <div class="item" data-id="mk">Macedonian</div>
                                <div class="item" data-id="ml">Malayalam</div>
                                <div class="item" data-id="mn">Mongolian</div>
                                <div class="item" data-id="mr">Marathi</div>
                                <div class="item" data-id="ms">Malay</div>
                                <div class="item" data-id="my">Burmese</div>
                                <div class="item" data-id="ne">Nepali</div>
                                <div class="item" data-id="nl">Flemish</div>
                                <div class="item" data-id="no">Norwegian</div>
                                <div class="item" data-id="ns">Northern Sotho</div>
                                <div class="item" data-id="oc">Occitan</div>
                                <div class="item" data-id="or">Oriya</div>
                                <div class="item" data-id="pa">Punjabi</div>
                                <div class="item" data-id="pl">Polish</div>
                                <div class="item" data-id="ps">Pashto</div>
                                <div class="item" data-id="pt">Portuguese</div>
                                <div class="item" data-id="ro">Moldovan</div>
                                <div class="item" data-id="ru">Russian</div>
                                <div class="item" data-id="sd">Sindhi</div>
                                <div class="item" data-id="si">Sinhalese</div>
                                <div class="item" data-id="sk">Slovak</div>
                                <div class="item" data-id="sl">Slovenian</div>
                                <div class="item" data-id="so">Somali</div>
                                <div class="item" data-id="sq">Albanian</div>
                                <div class="item" data-id="sr">Serbian</div>
                                <div class="item" data-id="ss">Swati</div>
                                <div class="item" data-id="su">Sundanese</div>
                                <div class="item" data-id="sv">Swedish</div>
                                <div class="item" data-id="sw">Swahili</div>
                                <div class="item" data-id="ta">Tamil</div>
                                <div class="item" data-id="th">Thai</div>
                                <div class="item" data-id="tl">Tagalog</div>
                                <div class="item" data-id="tn">Tswana</div>
                                <div class="item" data-id="tr">Turkish</div>
                                <div class="item" data-id="uk">Ukrainian</div>
                                <div class="item" data-id="ur">Urdu</div>
                                <div class="item" data-id="uz">Uzbek</div>
                                <div class="item" data-id="vi">Vietnamese</div>
                                <div class="item" data-id="wo">Wolof</div>
                                <div class="item" data-id="xh">Xhosa</div>
                                <div class="item" data-id="yi">Yiddish</div>
                                <div class="item" data-id="yo">Yoruba</div>
                                <div class="item" data-id="zh">Chinese</div>
                                <div class="item" data-id="zu">Zulu</div>
                            </div>
                        </div>
                        <div class="ui fluid search dropdown button column">
                            <i class="world icon"></i>
                            <span class="text">Target Language</span>
                            <div class="menu" id="targetl">
                                <div class="item" data-id="af">Afrikaans</div>
                                <div class="item" data-id="am">Amharic</div>
                                <div class="item" data-id="ar">Arabic</div>
                                <div class="item" data-id="ast">Asturian</div>
                                <div class="item" data-id="az">Azerbaijani</div>
                                <div class="item" data-id="ba">Bashkir</div>
                                <div class="item" data-id="be">Belarusian</div>
                                <div class="item" data-id="bg">Bulgarian</div>
                                <div class="item" data-id="bn">Bengali</div>
                                <div class="item" data-id="br">Breton</div>
                                <div class="item" data-id="bs">Bosnian</div>
                                <div class="item" data-id="ca">Valencian</div>
                                <div class="item" data-id="ceb">Cebuano</div>
                                <div class="item" data-id="cs">Czech</div>
                                <div class="item" data-id="cy">Welsh</div>
                                <div class="item" data-id="da">Danish</div>
                                <div class="item" data-id="de">German</div>
                                <div class="item" data-id="el">Greeek</div>
                                <div class="item" data-id="en">English</div>
                                <div class="item" data-id="es">Spanish</div>
                                <div class="item" data-id="et">Estonian</div>
                                <div class="item" data-id="fa">Persian</div>
                                <div class="item" data-id="ff">Fulah</div>
                                <div class="item" data-id="fi">Finnish</div>
                                <div class="item" data-id="fr">French</div>
                                <div class="item" data-id="ga">Irish</div>
                                <div class="item" data-id="gd">Scottish Gaelic</div>
                                <div class="item" data-id="gl">Galician</div>
                                <div class="item" data-id="gu">Gujarati</div>
                                <div class="item" data-id="ha">Hausa</div>
                                <div class="item" data-id="he">Hebrew</div>
                                <div class="item" data-id="hi">Hindi</div>
                                <div class="item" data-id="hr">Croatian</div>
                                <div class="item" data-id="ht">Haitian Creole</div>
                                <div class="item" data-id="hu">Hungarian</div>
                                <div class="item" data-id="hy">Armenian</div>
                                <div class="item" data-id="id">Indonesian</div>
                                <div class="item" data-id="ig">Igbo</div>
                                <div class="item" data-id="ilo">Iloko</div>
                                <div class="item" data-id="is">Icelandic</div>
                                <div class="item" data-id="it">Italian</div>
                                <div class="item" data-id="ja">Japanese</div>
                                <div class="item" data-id="jv">Javanese</div>
                                <div class="item" data-id="ka">Georgian</div>
                                <div class="item" data-id="kk">Kazakh</div>
                                <div class="item" data-id="km">Central Khmer</div>
                                <div class="item" data-id="kn">Kannada</div>
                                <div class="item" data-id="ko">Korean</div>
                                <div class="item" data-id="lb">Letzeburgesch</div>
                                <div class="item" data-id="lg">Ganda</div>
                                <div class="item" data-id="ln">Lingala</div>
                                <div class="item" data-id="lo">Lao</div>
                                <div class="item" data-id="lt">Lithuanian</div>
                                <div class="item" data-id="lv">Latvian</div>
                                <div class="item" data-id="mg">Malagasy</div>
                                <div class="item" data-id="mk">Macedonian</div>
                                <div class="item" data-id="ml">Malayalam</div>
                                <div class="item" data-id="mn">Mongolian</div>
                                <div class="item" data-id="mr">Marathi</div>
                                <div class="item" data-id="ms">Malay</div>
                                <div class="item" data-id="my">Burmese</div>
                                <div class="item" data-id="ne">Nepali</div>
                                <div class="item" data-id="nl">Flemish</div>
                                <div class="item" data-id="no">Norwegian</div>
                                <div class="item" data-id="ns">Northern Sotho</div>
                                <div class="item" data-id="oc">Occitan</div>
                                <div class="item" data-id="or">Oriya</div>
                                <div class="item" data-id="pa">Punjabi</div>
                                <div class="item" data-id="pl">Polish</div>
                                <div class="item" data-id="ps">Pashto</div>
                                <div class="item" data-id="pt">Portuguese</div>
                                <div class="item" data-id="ro">Moldovan</div>
                                <div class="item" data-id="ru">Russian</div>
                                <div class="item" data-id="sd">Sindhi</div>
                                <div class="item" data-id="si">Sinhalese</div>
                                <div class="item" data-id="sk">Slovak</div>
                                <div class="item" data-id="sl">Slovenian</div>
                                <div class="item" data-id="so">Somali</div>
                                <div class="item" data-id="sq">Albanian</div>
                                <div class="item" data-id="sr">Serbian</div>
                                <div class="item" data-id="ss">Swati</div>
                                <div class="item" data-id="su">Sundanese</div>
                                <div class="item" data-id="sv">Swedish</div>
                                <div class="item" data-id="sw">Swahili</div>
                                <div class="item" data-id="ta">Tamil</div>
                                <div class="item" data-id="th">Thai</div>
                                <div class="item" data-id="tl">Tagalog</div>
                                <div class="item" data-id="tn">Tswana</div>
                                <div class="item" data-id="tr">Turkish</div>
                                <div class="item" data-id="uk">Ukrainian</div>
                                <div class="item" data-id="ur">Urdu</div>
                                <div class="item" data-id="uz">Uzbek</div>
                                <div class="item" data-id="vi">Vietnamese</div>
                                <div class="item" data-id="wo">Wolof</div>
                                <div class="item" data-id="xh">Xhosa</div>
                                <div class="item" data-id="yi">Yiddish</div>
                                <div class="item" data-id="yo">Yoruba</div>
                                <div class="item" data-id="zh">Chinese</div>
                                <div class="item" data-id="zu">Zulu</div>
                            </div>
                        </div>
                        <div class="ui fluid search dropdown button column">
                            <i class="filter icon"></i>
                            <span class="text">Domain</span>
                            <div class="menu">
                                <div class="item disabled">Healthcare</div>
                            </div>
                        </div>
                      </div>
					
					<br /><br />
                    <textarea rows="5" cols="5" class="form-control" id="textareasource" placeholder="Enter text (preferably one sentence)" name="rawtext" required>{{ source_text }}</textarea>
                    <br />
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Translate</button>
                </div>
            </form>
        </div>

        <div class="container ui stackable equal width grid">
            <div class="column">
                <p>Original</p>
                <div class="alert alert-success" role="alert">
                    {{ source_text }}
                </div>
            </div>
            <div class="column">
                <p>Translation</p>
                <div class="alert alert-success" role="alert">
                    {{ target_text }}
                </div>
            </div>
          </div>
        </div>


        <!-- Footer -->
        <footer class="footer">
          <div class="container">
            <span class="text-muted">
                V. 0.2 - Being developed by <a href='https://dipteshkanojia.github.io'>Diptesh</a>; Original template credits to <a href="https://github.com/fantinuoli/Local-NMT">Claudio Fantinuoli</a>; Translation model at <a href="https://huggingface.co/docs/transformers/model_doc/m2m_100">HuggingFace FB-M2M Model</a>.
            </span>
          </div>
        </footer>
    </body>
</html>